version: '3.8'

services:
  client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:3030/api/v1
    depends_on:
      - server

  server:
    build:
      context: .
      dockerfile: apps/server/docker/Dockerfile
    ports:
      - "3030:3030"
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/openbts
      - REDIS_URL=redis://redis:6379
      - BETTER_AUTH_SECRET=your-generated-secret
    depends_on:
      - db
      - redis

  db:
    build:
      context: .
      dockerfile: docker/postgres/Dockerfile
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=openbts
    volumes:
      - postgres-volume:/var/lib/postgresql/18/docker
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres-volume:
