user www-data;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

# Worker
worker_processes auto;
worker_rlimit_nofile 40000;

events {
        worker_connections 8096;
        use epoll;
        multi_accept on;
}

http {
        # Connections
        reset_timedout_connection on;

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        #types_hash_max_size 2048;
        server_tokens off;

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # SSL Settings
        ##

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_prefer_server_ciphers on;

        ##
        # Buffer sizes
        ##

        client_body_buffer_size 10K;
        client_header_buffer_size 1k;
        large_client_header_buffers 4 4k;
        client_max_body_size 100M;

        ##
        # Timeouts
        ##

        client_body_timeout 10;
        client_header_timeout 10;
        keepalive_timeout 60;
        send_timeout 2;
        keepalive_requests 100000;

        ##
        # Logging Settings
        ##

        access_log off;
        error_log /var/log/nginx/error.log;

        ##
        # Gzip Settings
        ##

        gzip on;
        gzip_min_length 10240;
        gzip_comp_level 1;
        gzip_vary on;
        gzip_disable msie6;
        gzip_proxied expired no-cache no-store private auth;
        gzip_types
                # text/html is always compressed by HttpGzipModule
                text/css
                text/javascript
                text/xml
                text/plain
                text/x-component
                application/javascript
                application/x-javascript
                application/json
                application/xml
                application/rss+xml
                application/atom+xml
                font/truetype
                font/opentype
                application/vnd.ms-fontobject
                image/svg+xml
                image/png
                image/jpeg;

        ##
        # Virtual Host Configs
        ##

        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}
